.title {
  margin-top: 1rem;
  text-align: center;
  font-size: clamp(2.4rem, 5vw, 5rem);
  text-transform: uppercase;
  text-decoration: underline;
  color: var(--first-color);
  text-decoration-color: var(--first-color);
  text-decoration-style: dotted;
  text-decoration-thickness: clamp(4px, 1vw, 15px);
}