.footer {
  display: grid;
  place-content: center;
  background-color: var(--first-color);
  padding: 2.5rem;
  margin-top: 9rem;
  text-align: center;
}

.footer p {
  letter-spacing: 1.5px;
  font-size: 1.8rem;
  font-weight: bold;
}

.footer a {
  color: var(--fifth-color);
  text-decoration: none;
}
